<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar Item</title>
    </head>
    <body>
        <h1>Sistema de cadastro de acervo</h1> 
        <hr>
        <h2>MENU</h2>
        <div>
            <a href="/menu.html">Menu |</a>
            <a href="/usuario/listar.html">Listar Usuários |</a>
            <a href="/item/listar.html">Listar Itens |</a>
            <a href="/etiqueta/listar.html">Listar Etiquetas |</a>
            <a href="/vinculo/listar.html">Listar Vínculos |</a>
        </div>
        <hr>
        <h3>Cadastrar Item:</h3>
        <form method="POST">
            <label for="titulo">Título:</label><br /> 
            <input type="text" name="titulo" size="50"></input><br />
            <div th:unless="${#lists.isEmpty(etiquetas)}">
                <div th:each="etiqueta : ${etiquetas}" th:object=${Etiqueta}>
                    <input type="checkbox" th:value="${etiqueta.id}" name="etiquetas"><span th:text="${etiqueta.titulo}">Título</span></input>
                </div>
            </div>
            <input type="submit" value="Enviar"></input>
        </form>
    </body>
</html>