<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar Item</title>
    </head>
    <body>
        <h3>Cadastrar Item:</h3>
        <form method="POST">
            <label for="titulo">Título:</label><br /> 
            <input type="text" name="titulo" size="50"></input><br />
            <div th:unless="${#lists.isEmpty(itens)}">
                <select th:each="item : ${itens}">
                    <option><span th:text="${etiqueta.titulo}">Título</span></option>
                </select>
            </div>
            <input type="submit" value="Enviar"></input>
        </form>
    </body>
</html>