<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Detalhar Item</title>
</head>

<body>
    <h1>Sistema de cadastro de acervo</h1> 
    <hr>
    <h2>MENU</h2>
    <div>
        <a href="/menu.html">Menu |</a>
        <a href="/usuario/listar.html">Listar Usuários |</a>
        <a href="/item/listar.html">Listar Itens |</a>
        <a href="/etiqueta/listar.html">Listar Etiquetas |</a>
        <a href="/vinculo/listar.html">Listar Vínculos |</a>
    </div>
    <hr>
    <h2>Detalhar Vínculo</h2>
    <p>Item de Origem: <span th:text="${vinculo.origem.titulo}">Origem</span></p>
    <p>Item de Destino: <span th:text="${vinculo.destino.titulo}">Destino</span></p>
    <p>Etiquetas:</p>
    <div th:unless="${#lists.isEmpty(item.etiquetas)}">
        <table>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>URL</th>
            </tr>
            <tr th:each="etiqueta : ${item.etiquetas}">
                <td><span th:text="${etiqueta.titulo}">Título</span></td>
                <td><span th:text="${etiqueta.descricao}">Descrição</span></td>
                <td><span th:text="${etiqueta.url}">URL</span></td>
            </tr>
        </table>
    </div>
    <p>Anotações:</p>
    <div th:unless="${#lists.isEmpty(anotacoes)}">
        <table>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>URL</th>
                <!-- <th>Nome do Usuário</th> -->
                <th>Data de Inclusão</th>
                <th>Data de Inclusão</th>
            </tr>
            <tr th:each="anotacao : ${anotacoes}">
                <td><span th:text="${anotacao.titulo}">Título</span></td>
                <td><span th:text="${anotacao.descricao}">Descrição</span></td>
                <td><span th:text="${anotacao.url}">URL</span></td>
                <!-- <td><span th:text="${anotacao.usuario.nomeCompleto}">Nome do Usuário</span></td> -->
                <td><span th:text="${anotacao.dataInclusao}">Data de Inclusão</span></td>
                <td><span th:text="${anotacao.dataAlteracao}">Data de Alteração</span></td>
                <td><a th:href="@{/anotacao/editar.html/{id}(id=${item.id})}">Editar</a></td>
                <td><a th:href="@{/anotacao/deletar.html/{id}(id=${item.id})}">Deletar</a></td>
            </tr>
        </table>
    </div>
    <a href="/anotacao/criar.html">Criar Anotação</a>
</body>
</html>