<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="index.html">
        <label for="email">E-mail:</label><br /> 
        <input type="email" name="email" size="50"></input><br /> 
        <label for="codigoAcesso">Código de acesso:</label><br />
        <input type="password" name="codigoAcesso" size="50"> </input><br />
        <input type="submit" value="Enviar"></input>
    </form>
    <p>Caso não possua um cadastro, clique <a href="/usuario/criar.html">aqui</a></p>
</body>
</html>