<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Editar Etiqueta</title>
    </head>
    <body>
        <h3>Editar etiqueta:</h3>
        <form method="POST">
            <label for="titulo">Título:</label><br /> 
            <input type="text" name="titulo" size="50" th:value="${etiqueta.titulo}"></input><br />  
            <label for="descricao">Descrição:</label><br /> 
            <input type="text" name="descricao" size="50" th:value="${etiqueta.descricao}"></input><br /> 
            <label for="url">URL:</label><br />
            <input type="url" name="url" size="50" th:value="${etiqueta.url}"> </input><br />
            <input type="submit" value="Enviar"></input>
        </form>
    </body>
</html>