<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Listar Etiquetas</title>
</head>

<body>
    <h1>Sistema de cadastro de acervo</h1> 
    <hr>
    <h2>MENU</h2>
    <div>
        <a href="/menu.html">Menu |</a>
        <a href="/usuario/listar.html">Listar Usuários |</a>
        <a href="/item/listar.html">Listar Itens |</a>
        <a href="/etiqueta/listar.html">Listar Etiquetas |</a>
        <a href="/vinculo/listar.html">Listar Vinculos |</a>

    </div>
    <hr>
    <h2>Listar Etiquetas</h2>
        <div th:unless="${#lists.isEmpty(etiquetas)}">
            <table style="width:100%">
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>URL</th>
                </tr>
                <tr th:each="etiqueta : ${etiquetas}">
                    <td><span th:text="${etiqueta.titulo}">Título</span></td>
                    <td><span th:text="${etiqueta.descricao}">Descrição</span></td>
                    <td><span th:text="${etiqueta.url}">URL</span></td>
                    <td><a th:href="@{/etiqueta/editar.html/{id}(id=${etiqueta.id})}">Editar</a></td>
                    <td><a th:href="@{/etiqueta/deletar.html/{id}(id=${etiqueta.id})}">Deletar</a></td>
                </tr>
            </table>
        </div>
        <a href="/etiqueta/criar.html">Cadastrar etiqueta</a>
    </body>
</html>